/* CSS declarations go here */
.thumbnail {
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
}

.thumbnail-img {
    max-height: 200px;
}

body {
    padding-top: 60px;
}

.single-img {
    max-width: 100%;
}
